@model string

<div>
    This request has been echoed - @DateTime.Now.ToString("yyyy-MM-dd  HH:mm:ss", System.Globalization.CultureInfo.InvariantCulture) (cache with <a href="https://en.wikipedia.org/wiki/Edge_Side_Includes">Edge Side Includes</a>)!
    <br />
    <esi:include src="EchoCache" onerror="continue" />
    <br />
    <pre>@Html.Raw(Model)</pre>
</div>
