@model string
<div>
    Send data to <text id="endpoint" class="url">@Model/api/echo</text>
    <button onclick="copyToClipboard(this, 'endpoint');">&#128203;</button>
    endpoint to see it here.

    <button id="clear" onclick="clearLog(this);">⟳</button>
    <button id="helpOpen" onclick="showHelp();">➕</button>
    <button id="helpClose" onclick="hideHelp();" style="display:none">➖</button>
    <button class="theme" onclick="changeTheme();">☀</button>
</div>
<div id="help" style="display:none" class="help">
    Using curl: <button onclick="copyToClipboard(this, 'curl');">&#128203;</button>
    <br />
    <text id="curl" class="clip">curl -d '{ "firstName": "John", "lastName": "Doe" }' -H "Content-Type: application/json" -X POST @Model/api/echo</text>
    <br />

    Using PowerShell: <button onclick="copyToClipboard(this, 'pwsh');">&#128203;</button>
    <br />
    <text id="pwsh" class="clip">$url = "@Model/api/echo"
$data = @@{
    firstName = "John"
    lastName = "Doe"
}
$body = ConvertTo-Json $data
Invoke-RestMethod -Body $body -ContentType "application/json" -Method "POST" -DisableKeepAlive -Uri $url</text>
    <br />

    Using Visual Studio Code with <a href="https://marketplace.visualstudio.com/items?itemName=humao.rest-client" target="_blank">REST Client</a> extension: <button onclick="copyToClipboard(this, 'vscode');">&#128203;</button>
    <br />
    <text id="vscode" class="clip">### Invoke Echo
POST @Model/api/echo HTTP/1.1
Content-Type: application/json; charset=utf-8

{
    firstName: "John"
    lastName: "Doe"
}</text>

</div>

<div id="echo">
</div>

<template id="block">
    <div class="code" onclick="selectElement(this);"><button onclick="this.parentElement.remove();" class="close">&#x2716;</button><text></text></div>
</template>
